body {
    margin: o;
    background-color: blue;
    border: 10px solid #361010b4;
}

img {
    max-width: 50%;
    margin: 0px auto;
    position: relative;
}

.container {
    background-color: burlywood;
}